.postBox{
    margin-top: 7px;
   

    i{
        color:#a4a5a7;
    }

    .headpost{
        background-color: #ffffff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px;

        img{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
    }
    }

   
    .boxpost{
        height: 469px;
        img{
           width: 100%; 
           height: 100%;
            object-fit: cover;
        }
    }
    .textpost{
        padding: 8px;
        background-color: #ffffff;
        overflow: hidden;
        word-wrap: break-word;
        span{
            color: #a4a5a7;
        }
    }
    .buttonpost{
        padding-top: 5px;
        background-color: #ffffff;
        margin-bottom: 5px;
        .layout-emoji{
            display: flex;
            .emoji{
                 img{      
                        width: 20px;
                        border: 1px solid #ffffff;
                        height: auto;
                        }
                }

        }
        
        .community{
            display: flex;
            justify-content: space-around;
            p{
                padding-right: 20px;
        }
        }

        
        
        .community{
           
            .con{ 
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color:#e9eff5;
                padding: 5px;
                width: 28%;
                height: 25px;
                border-radius: 60px;
                margin-bottom: 5px;
               
                i{
                    /* position: absolute; */
                    margin-top: 5px;
                    margin-right: 5px;
                    /* border: 1px solid red; */
                    font-size: 1.5rem;
                    color: #746969;
                }
                
            }
            
        }
    }
}


                  
        
        
